body {text-align: left; background: #ffffff; padding: 0 10% 0 10%}

h1 {font-family: Arial, Helvetica, sans-serif; color: #2d3c43; font-size: 2em; padding: 0 3% 0 3%}
h2 {font-family: Arial, Helvetica, sans-serif; color: #435760; font-size: 1.5em; padding: 0 3% 0 3%}
h3 {font-family: Arial, Helvetica, sans-serif; color: #4e646f; font-size: 1.3em; padding: 0 3% 0 3%}
h4 {font-family: Arial, Helvetica, sans-serif; color: #4e646f; font-size: 1.1em; padding: 0 3% 0 3%}
p {font-family: Arial, Helvetica, sans-serif; color: #4e646f; font-size: 1.2em; padding: 0 3% 0 3%; line-height: 150%}
psub {font-family: Arial, Helvetica, sans-serif; color: #4e646f; font-size: 0.9em; padding: 0 0 0 0; line-height: 150%}


div.sidebar{width: 20%; height:100%; float: left; text-align: center; background: transparent; word-wrap: break-word;}
div.main {width: 70%; padding: 0 10% 0 20%; text-align: left; background: transparent}

a:link {
    color: #3a2727;
    background-color: transparent;
    text-decoration: underlined;
}

a:visited {
    color: #3a2727;
    background-color: transparent;
    text-decoration: underlined;
}
